<header class="header">
  <div class="nav__list">
    <li class="nav__item"><a href="/users">HOME</a></li>
  </div>
</header>

<div>
  <h1 class='main-heading'>Edit user: <%= @user.user_name %></h1>
  <div class='form'>
    <%= form_with model: @user do |form| %>
      <div>
        <%= form.label :user_name, 'New name' %>
      </div>
      <div>
        <%= form.text_field :user_name %>
      </div>
      <div>
        <%= form.label :bio, 'New bio' %>
      </div>
      <div>
        <%= form.text_area :bio %>
      </div>
      <div>
        <%= form.label :age, 'New age' %>
      </div>
      <div>
        <%= form.text_field :age %>
      </div>
      <div>
        <%= form.submit 'SUBMIT', :class => 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>
