<header class="header">
  <div class="nav__list">
    <li class="nav__item"><a href="/users">HOME</a></li>
    <li class="nav__item"><a href="/users/new">New</a></li>
  </div>
</header>

<div class="user-main">
  <% if @users.length == 0 %>
    <h1 class="main-heading"> No results </h1>
  <% else %>
    <section class="user-card">
        <% users = @users.includes(:contacts, :phones) %>
        <% users.each do |user|%>
          <div class="users-info">
            <p>Name: <%= user.user_name %></p>
            <p>Contacts: <%= user.contacts.length %> </p>
            <p>Phones: <%= user.phones.length %> </p>
            <nav class="user-nav">
              <%= link_to 'SHOW', user_path(user) %>
              <%= link_to 'EDIT', user_edit_path(user) %>
              <%= link_to 'DELETE', user_path(user), :method => :delete %>
            </nav>
          </div>
        <% end %>
    </section>
  <% end %>
</div>
