<header class="header">
  <div class="nav__list">
    <li class="nav__item"><a href="/users">HOME</a></li>
  </div>
</header>

<div>
  <h1 class='warning'>New user:</h1>
  <div class='form'>
    <%= form_with model: @user do |form| %>
      <div>
        <%= form.label :user_name, 'Name' %>
      </div>
      <div>
        <%= form.text_field :user_name %>
      </div>
      <div>
        <%= form.label :bio, 'Bio' %>
      </div>
      <div>
        <%= form.text_area :bio %>
      </div>
      <div>
        <%= form.label :age, 'Age' %>
      </div>
      <div>
        <%= form.text_field :age %>
      </div>
      <div>
        <%= form.submit 'SUBMIT', :class => 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>
